<div class="uiCharacters">
	<img class="logo" src="server/mods/iwd-souls-moor/images/logo.png"ii alt="">
	<div class="left">
		<div class="character">loading characters...</div>
	</div>
	<div class="right">
		<div class="portrait">
			<div class="sprite"></div>
		</div>
		<div class="info">
			<div class="name"></div>
			<div class="class"></div>
		</div>
		<div class="el button btnNew">new</div>
		<div class="el button disabled btnDelete">delete</div>
		<div class="el button disabled btnPlay">play</div>
	</div>
	<div class="message"></div>
</div>
