<div class="uiHelp">
	<div class="row"><span class="topic">Movement: </span><br />WASD / Arrow Keys</div>
	<div class="row"><span class="topic">Cancel Movement: </span><br />Esc</div>
	<div class="row"><span class="topic">Combat: </span><br />Click on an enemy and press Space to enable auto-attack</div>
	<div class="row"><span class="topic">Chat: </span><br />Press Enter to open the Chat Window</div>
	<div class="row"><span class="topic">Inventory: </span><br />Press i to open your Inventory</div>
	<div class="row"><span class="topic">Equipment: </span><br />Right click an item in your inventory to equip it or press j for the Equipment Panel</div>
	<div class="row"><span class="topic">Stats: </span><br />Owl Spirits need Int to deal more damage. Lynxes need Dex and Bears need Str.</div>
	<div class="row"><span class="topic">Show Nameplates: </span><br />V</div>
	<div class="row"><span class="topic">Who's Online: </span><br />O</div>
</div>
